<nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand">
    <div class="container-fluid">
      <ul *ngIf="!(user|async)" class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link active" routerLink="connexion_inscription">Connexion ou inscription</a>
          </li>
      </ul>
      <ul *ngIf="user|async" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" (click)="deconnexion()">Déconnexion de {{user|async}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/add-recette">Ajouter une recette</a>
      </li>
    </ul>
        <ul class="navbar-nav">
        <li class="nav-item">
          <form class="input-group" id="searchB" ngNativeValidate>
            <input type="text" #fieldS (keyup)="MAJnomCategorie(fieldS.value)" class="form-control rounded" required  placeholder="Rechercher une recette..." aria-label="Search" aria-describedby="search-addon"  name="search"/>
            <input (click) = "chercheRecette()" type="submit" id="buttonS" class="btn btn-outline-primary" value="Rechercher"/>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  
  